@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply basic global styles to the body: */
body {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 font-sans antialiased;
}

.mapWrapper {
  position: relative;
  padding-bottom: 26.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.mapWrapper iframe {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
}

.cursiveFont {
  font-family: 'Brush Script MT', cursive;
  font-size: 24px;
}
